# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env*
frontend/.env.local
frontend/.env.development.local

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env*
backend/postgres-data/

# OS
.DS_Store
*.swp
